# FUNCTIONS:

### 1. code reusability
### 2.simple

##### SYNTAX:


---def functionname(arguemnts):
.statements
   
 .return (not always needed)

In [ ]:
# even digit addition in given number:-
def functio(n):
    s=0
    while n!=0:
        r=n%10
        if r%2==0:
            s=s+r
        n=n//10
    print(s)
    
functio(123456789)

In [6]:
#largest of given number:-
def largest(n):
    l=0
    while n!=0:
        r=n%10
        if l<r:
            l=r
        n=n//10
    return l,
largest(45151)

(5,)

In [ ]:
#factorial of number:-

# COLLECTION TYPES:
- 1. LIST
- 2. TUPLE
- 3. SET
- 4. DICTIONARY

# 1.LIST:
- ONE OF THE DATASTRUCTERS AVAILABLE IN PYTHON.
- LIST IS ALWAYS ENCLOSED IN [].
- ELEMENTS IN A LIST ARE SEPARATED BY COMMA(,).

In [7]:
list=[1,2,3,4,4]
print(list)

[1, 2, 3, 4, 4]

In [12]:
#print list
thislist=[12,1,13,12]
print(thislist)

[12, 1, 13, 12]

In [14]:
#index:-
#negative index is a feature provided in python that starts from -1 from right side of the list
l=[1,1,3,3,23,23,2]
print(l[3])
print(l[-1])

3
2

In [24]:
#slicing:-
l=[1,32,33,4,5,6,7]
print(l[2:7])
print(l[0:-2])
print(l[3])
print(l[-2:])
print(l[-6])

[33, 4, 5, 6, 7]
[1, 32, 33, 4, 5]
4
[6, 7]
32

In [30]:
#append function in list: to add elements to list in the end 
l=[1,2,3,45,5,5]
l.append(4)
print(l)

[1, 2, 3, 45, 5, 5, 4]

In [41]:
#maximum and minimum value in the list:-
l=[323,32,2323,22]
i=['a','s','f']
print(max(l))
print(min(l))
print(max(i))
print(min(i))

2323
22
s
a

In [37]:
#length of the list:-
l=[12,12,12,12,1224,23]
print(len(l))

6

In [38]:
#sum of elements in the list:-
i=[1,2,4,5,5,43,3]
print(sum(i))

63

In [42]:
l="gitam"
print(l[2])

t

In [49]:
l=[1,2,2,1,1]
del l[2]
print(l)

[1, 2, 1, 1]

In [50]:
l=[1,3,4,4,5,5,]
l[0]="python"
print(l)

['python', 3, 4, 4, 5, 5]

In [52]:
#List operations:-
l=[1,2,24,4,5,5,5]
print(l*3)         #repition of list 
print(24 in l)     #to check that number is present or not?

[1, 2, 24, 4, 5, 5, 5, 1, 2, 24, 4, 5, 5, 5, 1, 2, 24, 4, 5, 5, 5]
True

In [54]:
#to access the elements through iterations:-
i
for i in l:
    print(i,end=" ")

1 2 24 4 5 5 5

In [55]:
for i in range(len(l)):
    print(l[i])

1
2
24
4
5
5
5

In [56]:
l.append("aniketh")
print(l)

[1, 2, 24, 4, 5, 5, 5, 'aniketh']

In [59]:
#insert function:- to insert in particular index
l.insert(1,"hyd")
print(l)

[1, 'hyd', 'hyd', 'hyd', 2, 24, 4, 5, 5, 5, 'aniketh']

In [60]:
#count function: it is used to count the element repition in the list
l.count(5)

3

In [61]:
#retrive index of the list
print(l)
l.index(5)

[1, 'hyd', 'hyd', 'hyd', 2, 24, 4, 5, 5, 5, 'aniketh']

7

In [62]:
#pop funtion :is used to remove elements from the first
print(l)
l.pop(3)
print(l)

[1, 'hyd', 'hyd', 'hyd', 2, 24, 4, 5, 5, 5, 'aniketh']
[1, 'hyd', 'hyd', 2, 24, 4, 5, 5, 5, 'aniketh']

In [64]:
print(l)
li=['aba','aew3f']
print(li)
l.extend(li)
l

[1, 'hyd', 'hyd', 2, 24, 4, 5, 5, 5, 'aniketh', 'aba', 'aew3f']
['aba', 'aew3f']

[1, 'hyd', 'hyd', 2, 24, 4, 5, 5, 5, 'aniketh', 'aba', 'aew3f', 'aba', 'aew3f']

In [65]:
l.pop(1)

'hyd'

In [66]:
l.pop(1)

'hyd'

In [68]:
#print 
l=[1,25,6,66,3,9]
l.sort()
print(l)

[1, 3, 6, 9, 25, 66]

In [71]:
l.reverse()
l

[66, 25, 9, 6, 3, 1]

In [73]:
#largest of list:-
def largest(l):
    l.sort()
    return l[-1]
lis=[1,33,4,4,55666,5,6]
largest(lis)

55666

In [74]:
#2nd largest or 1st largest
def largest(l,n):
    l.sort()
    return l[n]
lis=[1,2,3,3,4,5,7]
largest(lis,-2)

5

# 2.TUPLE:
- TUPLE ARE ENCLOSED IN PARANTHESIS().
- TUPLE ARE UNCANGABLE.
- TUPLE ARE USED ONLY TO ACCESS THE DATA.

#### DIFFERENCES BETWEEN LIST AND TUPLE
- LIST IS ENCLOSED IN [  ].
- TUPLE IS ENCLOSED IN ().
- IN LIST CHANGES CAN BE MADE BUT NOT IN TUPLE.

In [79]:
lis=("ani","n","k")
print(lis)

('ani', 'n', 'k')

In [83]:
lid=(11,212,12,12)
print(lid)

(11, 212, 12, 12)

### deletion and insertion is not possible

In [86]:
help(list)

Help on list object:

class list(object)
 |  list(iterable=(), /)
 |
 |  Built-in mutable sequence.
 |
 |  If no argument is given, the constructor creates a new empty list.
 |  The argument must be an iterable if specified.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Stable sort *IN PLACE*.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

### DICTIONARY :
- DICTIONARIES ARE ENCLOSED IN {   }.
- IT CONSISTS OF KEY VALUE PAIRS.
- EACH KEY VALUE PAIR IS SEPARATED WITH OTHER PAIRS BY COMMA(,).
- KEYS MUST BE UNIQUE WHILE CREATING ANY DICTIONARY.
- EACH KEY IS SEPARATED TO ITS VALUE BY A COLON(:).

In [88]:
di ={"name":"gitam","email":"gitam@gmail.com"}
print(di)
print(type(di))

{'name': 'gitam', 'email': 'gitam@gmail.com'}
<class 'dict'>

In [90]:
di["name"]

'gitam'

In [95]:
#updating dictionaries
di ={"name":"gitam","email":"gitam@gmail.com"}
di["email"]="aniketh@gmail.com"
print(di)

{'name': 'gitam', 'email': 'aniketh@gmail.com'}

In [92]:
di["course"]="python"
di

{'name': 'gitam', 'email': 'aniketh@gmail.com', 'course': 'python'}

In [96]:
di["age"]="12"
di

{'name': 'gitam', 'email': 'aniketh@gmail.com', 'age': '12'}

In [97]:
di

{'name': 'gitam', 'email': 'aniketh@gmail.com', 'age': '12'}

In [98]:
del di["age"]

In [100]:
#dictionary keys
di.keys()

dict_keys(['name', 'email'])

In [ ]:
# dictionary values
di.values()

In [102]:
di["course"]= "python"
di

{'name': 'gitam', 'email': 'aniketh@gmail.com', 'course': 'python'}

In [109]:
di["age"]="45"
di

{'name': 'gitam',
 'email': 'aniketh@gmail.com',
 'course': 'python',
 'age': '45'}

### STRINGS:

In [112]:
s= "abcdefghijklmnop"
print(s[0])
print(s[0:4])
print(s[0:10:2])
print(s[0:-4])
print(s[::2])
print(s[::-1])

a
abcd
acegi
abcdefghijkl
acegikmo
ponmlkjihgfedcba

In [116]:
#palindrome
s=input("enter a string: ")
r=s[::-1]
if r==s:
    print("palindrome")
else:
    print("not a palindrome")

enter a string: anikeht
not a palindrome

In [121]:
#concatination:-
s="python"
d="gtiam"
r=s+d
print(r)
print("$".join(d))

pythongtiam
g$t$i$a$m

In [127]:
#spliting:-
s="python is a programming language"
print(s.split())
print(s.split("z"))
print(s.split("a"))

['python', 'is', 'a', 'programming', 'language']
['python is a programming language']
['python is ', ' progr', 'mming l', 'ngu', 'ge']

In [129]:
s="abababbababa"
s.replace("a","z")

'zbzbzbbzbzbz'